#content {
	cursor: none;
}
#waitBox {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
    top: 8px;
    left: 8px;
	width: 0;
	height: 0;
	background-color: #000;
	z-index: -1;
	opacity: 0;
}
#waitBox.active {
    width: 700px;
    height: 700px;
    z-index: 999;
    opacity: 0.3;
}

#waitBox .text {
	font-size: 40px;
	color: #EF0;
}

.box h3 {
	display: inline-block;
	margin: 5px 0;
}

#timeToJoin {
	margin-left: 10px;
}

.right {
	position: absolute;
	top: 10px;
	right: 50px;
}
#scoreTable {
	margin: 0;
	padding: 5px 0;
	list-style: none;
}
#scoreTable span {
	font-weight: bold;
}
hr {
	margin: 15px 0;
}
@media screen and (max-width: 1110px) {
	.right {
		top: 720px;
		left: 10px;
	}
	.box h3 {
		margin: 10px 0;
	}
	#scoreTable {
		margin-top: 20px;
	}
}